<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Health Predictor</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../Static/w3_style.css">
<style>
</style>
<script src=""></script>
<body>

<!-- <img src="img_la.jpg" alt="LA" style="width:100%"> -->

<!-- Header -->
{% include 'header_inc.html' %}

<!-- Navigation Bar -->
<div class="w3-bar w3-border w3-card-4 w3-light-grey">
  <a href="#" class="w3-bar-item w3-button w3-mobile w3-light-blue">Home</a>
  <a href="/diab_intro" class="w3-bar-item w3-button w3-mobile">Diabetes</a>
  <a href="/cardio_intro" class="w3-bar-item w3-button w3-mobile">Cardiovascular</a>
</div>

<!-- Text Body -->
<div class="w3-panel w3-border w3-border-blue">
<p>
Health Predictor is a web application that uses the power of Machine Learning
to predict a cardiovascular or diabetic condition based on health parameters entered by the user. Follow these instructions to use this app.
<ol>
<li>Select type of disease in Navigation bar.</li>
<li>Follow instructions to gather relevant data about your condition.</li>
<li>Enter the health parameters as requested in the form.</li>
<li>Press submit after entering details.</li>
<li>Read the result on the response page.</li>
</ol>
</p>
</div>
<!-- Footer -->
{% include 'footer_inc.html' %}
</body>
</html> 